
.toggleMenu {
    display:  none;
    text-decoration: none;
    /*background: #666;*/
    padding: 15px 15px;
    color: #fff;
    position: relative;
    font-size: 20px;
}
.nav {
    z-index: 9999;
    margin: 0px auto;
    list-style: none;
     *zoom: 1;
     font-size: 13px;
     text-transform: uppercase;
}
.nav ul, li, a  {margin: 0; padding: 0;}
.nav:before,
.nav:after {
    content: " "; 
    display: table;
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    text-decoration: none;
    font-weight: 500;
    padding: 18px 19px;
    color:#fff;
}
.nav li {
    position: relative;
    /*background: #71bf45;
	border-right:1px solid #5ab129;
   /* margin-right: 1px; */
}
.nav li:hover {
    position: relative;
    background:#444444;
	color:#fff;
    /*border-bottom: solid 2px #999;*/
}

.nav li a:hover {
	color:#fff;
}
.nav > li {
    float: left;
    /*border-top: 1px solid #104336;*/
}

/* .nav > li > .parent {
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
	margin-right:2px;
} */

.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
    width: 100%;
}
.nav > li.hover > ul {
    left: 0;
    /*margin-top: 2px;*/
	color:#fff;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
	color:#fff;}

.nav li li a {
    display: block;
    background-color: #71bf45;
    position: relative;
    z-index:100;
    border-top: 1px solid #5ab129;
}

.nav li li a:hover {
    position: relative;
    background:#444444;
	color:#fff;
}

.nav li li a:hover > li > li > a{
    color:#fff !important;
}

.nav li li li a {
    background-color:#71bf45;
    z-index:200;
    border-top: 1px solid #5ab129;
}

/* Navegador Footer*/

.nav_footer {
    z-index: 9999;
    list-style: none;
     *zoom: 1;
}
.nav_footer ul, li, a  {margin: 0; padding: 0;}
.nav_footer:before,
.nav_footer:after {
    content: " "; 
    display: table; 
}
.nav_footer:after {
    clear: both;
}
.nav_footer ul {
    list-style: none;
    width: 100%;
}
.nav_footer a {
    text-decoration: none;
    
}
.nav_footer li {
    position: relative;
    /*background: #338421; 
	border-bottom:1px solid #3cb122; */
}
/*.nav_footer li:hover {
    position: relative;
    background:#595959;
    border-bottom: solid 2px #e0e722;
}*/
.nav_footer > li {
    float: left;
    font-family:'Roboto Condensed';
    /*border-top: 1px solid #104336;*/
}
.nav_footer > li > a {    
    display: block;
    color: #621f65;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 10px 15px 10px;
    text-transform: uppercase;
}

.nav_footer li li{
    margin-bottom: 5px;
}

.nav_footer li li a {
    color:#808080;
    font-size: 13px;
    padding: 5px 10px;
    font-weight: 500;
}
.nav_footer li li a:hover {
    text-decoration: none;
}


/* Navegador Lateral*/

.nav_lateral {
    z-index: 9999;
    list-style: none;
}
.nav_lateral ul, li, a  {margin: 0; padding: 0;}
.nav_lateral:before,
.nav_lateral:after {
    content: " "; 
    display: table; 
}
.nav_lateral:after {
    clear: both;
}
.nav_lateral ul {
    list-style: none;
    width: 100%;
}
.nav_lateral a {
    text-decoration: none;
    
}
.nav_lateral li {
    position: relative;
    /*background: #338421; 
    border-bottom:1px solid #3cb122; */
}
.nav_lateral > li {
    float: left;
    /*border-top: 1px solid #104336;*/
}
.nav_lateral > li > a {
    display: block;
    color: #621e66;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 10px;
     text-transform: uppercase;
}

.nav_lateral li li{
    margin-bottom: 5px;
    padding-left: 10px;
}

.nav_lateral li li a {
    color:#929292;
    font-size: 12px;    /*padding: 5px 10px;*/
}
.nav_lateral li li a:hover {
    text-decoration: none;
}

@media screen and (max-width: 769px) {
    .active {
        display: block;
    }
    .nav{position: relative; display: block; width: 100%;}
    .nav > li {
        float: none;
        margin-left: -40px;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}

/*//////NUEVO MENU//////*/

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Screen style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu-container {
    width: 100%;
    margin: 0 auto;
    /*background: #e9e9e9;*/
    z-index: 9999999;
}

.menu-mobile {
    display: none;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background: #fff;
    color: #333;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;   
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
    z-index: 99999;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    /*background: #e9e9e9;*/
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 1.0em 2em;
    display: block;
    color: #fff;
}

/*.menu > ul > li:hover {
    background: #f0f0f0;
}*/

.menu > ul > li > ul {
    display: none;
    width: 100%;
    /*background: #f0f0f0;*/
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border-bottom: 6px #e70094 solid;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #393a37;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;  
    font-weight: bold;
}

/*.menu > ul > li > ul > li a:hover {
    text-decoration: underline;
}*/

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;    
}


.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;    
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
    text-transform: none;
    color:#393a37;
}

.menu > ul > li > ul > li > ul > li a:hover {
    border: 0;
    text-transform: none;
    color:#5a5b59;
   /* text-decoration: underline; */
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 769px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
        color: #fff;
        padding: 1em 1em;
        max-width: 100%;
        margin: 0px !important;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
        background: #e6e6e6;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
        color:#bbb;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}